.button {
  display: flex;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;

  margin-bottom: $gutter*2.5;

  overflow: hidden;

  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  cursor: pointer;

  background-color: #666;

  border: 1px solid #666;
  border-radius: 4px;

  transition: background-color 500ms ease, color 500ms ease;

  &:hover {
    color: #eee;
    background-color: #333;
  }

  &--one {
    width: 70px;
    box-sizing: border-box;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    transition: none;
  }

  &--two {
    width: 70px;
    margin-right: $gutter/2;
    margin-bottom: 0;
  }

  &--three {
    display: block;
    padding: 5px 0;
    margin: 0 auto;
    margin-bottom: $gutter*3;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
