.cardlist {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter/2;
    margin-left: -$gutter/2;
  }

  &__col {

    @include columns(12);
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 $gutter;

    @media (min-width: 600px) {
      @include columns(6);
      margin-top: $gutter*2.5;
      margin-right: 0;
      margin-left: 0;
    }
    @media (min-width: 1000px) {
      @include columns(4);
      margin-top: $gutter*6;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
