.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;

  overflow: hidden;

  &__heading {
    width: 100%;
    margin-bottom: 15px;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;

    word-break: break-word;
  }

  &__content {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 1em;
    font-weight: bolder;

    &--sub {
      font-size: 0.875em;
      font-weight: lighter;
    }
  }

  &__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
  }

  &--wide {
    @media (min-width: 600px) {
      display: flex;
    }
  }

  &--wide &__content {
    @media (min-width: 600px) {
      align-items: flex-start;
    }
  }

  &--wide &__img {
    @media (min-width: 600px) {
      min-width: 400px;
      height: 100%;
      object-fit: cover;
    }
  }
}
