.field {
  margin-top: $gutter;
  font-size: 0.8rem;

  &__input {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }

  &__radio {
    margin-top: $gutter;
    font-size: 0.8rem;
  }

  &__choice {
    width: 43%;
  }

  &__label {
    display: block;
  }
}

.information {
  &__um {
    margin-top: $gutter*2;
    font-size: 1.25rem;
  }
}
