.field {
  margin-top: $gutter;
  font-size: 0.8rem;

  &__input {
    display: block;
    width: 100%;
    font-size: 0.8rem;
  }

  &--radio {
    display: block;
    margin-top: -$gutter/2;
    font-size: 0.8rem;
  }

  &__radio {
    margin-top: $gutter;
  }

  &--expiry {
    display: flex;
    width: 100%;
  }

  &__expiry {
    width: 43%;
  }

  &__label {
    display: block;
    width: 100%;
  }
}

.information {
  &__um {
    margin-top: $gutter*2;
    font-size: 1.25rem;
  }
}
