.header {
  position: relative;
  display: flex;
  max-height: 200px;
  margin: 0 auto $gutter;
  align-items: center;
  background-color: #000;

  &--front {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 600px;

    background: transparent url("images/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;

    .content {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content .announcement {
      font-size: 1.5em;
      padding-bottom: 20px;
      opacity: 0;
      transition: opacity 3s ease 1s;
    }

    .brand {
      font-size: 3em;
      padding-bottom: 50px;
      opacity: 0;
      transition: opacity 3s ease 2s;
    }

    .button {
      text-align: center;
      max-width: 125px;
      opacity: 0;
      transition: opacity 3s ease 3s;
    }
  }
  // transitions when cursor hovers head image
&--front:hover {
  .brand {
      opacity: 1;
  }
  .announcement{
    opacity: 1;
  }
  .button {
    opacity: 1;
  }
}

  &--about {
    display: inline-flex;
    width: 100%;
    min-height: 500px;
    flex-direction: column;

    align-items: stretch;

    background: transparent url("images/bg-subpage.jpg") no-repeat;
    background-size: cover;
  }

  &--form {
    display: inline-flex;
    width: 100%;
    min-height: 500px;
    flex-direction: column;

    align-items: stretch;

    background: transparent url("images/bg-subpage.jpg") no-repeat;
    background-size: cover;
  }

  &--blackbar {
    display: flex;
    height: 50px;
    opacity: 0.9;
  }
}
