.header {
  position: relative;
  display: flex;
  max-height: 200px;
  margin: 0 auto $gutter;
  align-items: center;
  background-color: #000;

  &--about {
    display: inline-flex;
    width: 100%;
    min-height: 500px;
    flex-direction: column;
    align-items: stretch;

    background: transparent url("../images/bg-subpage.jpg") no-repeat;
    background-size: cover;
  }

  &--form {
    display: inline-flex;
    width: 100%;
    min-height: 330px;
    flex-direction: column;

    align-items: stretch;

    background: transparent url("../images/bg-subpage.jpg") no-repeat;
    background-size: cover;
  }

  &--blackbar {
    display: flex;
    height: 50px;
    opacity: 0.9;
  }
}
