.header {
  position: relative;
  display: flex;
  max-width: $max-width;
  max-height: 200px;
  margin: 0 auto $gutter;
  align-items: center;
  background-color: #000;

  &--about {
    width: 100%;

    display: inline-flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    min-height: 500px;

    background: transparent url(../images/bg-subpage.jpg) no-repeat;
    background-size: cover;
  }

  &--form {
    width: 100%;

    display: inline-flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    min-height: 500px;

    background: transparent url(../images/bg-subpage.jpg) no-repeat;
    background-size: cover;
  }

  &--blackbar {
    display: flex;
    opacity: 0.9;
  }
}
