.heading {
  width: 100%;

  font-family: "Roboto Slab", serif;
  font-size: 2rem;

  border: 0;

  @media (min-width: 1200px) {
    padding-right: 0;
    padding-left: 0;
  }

  &--one {
    margin-top: $gutter*8;
    margin-left: $gutter;
    font-size: 3rem;
    color: #fff;
    text-align: inherit;
  }

  &--two {
    margin-left: $gutter/4;
    font-size: 1.25rem;
    color: #fff;
  }

  &--three {
    margin-top: $gutter*3;
    font-size: 2rem;
    color: #000;

    @media (max-width: 400px) {
      margin-top: $gutter;
    }
  }
}
