.text {
  &__um {
    margin-bottom: 20px;
    font-family: "Open Sans";
  }

  &__footer {
    font-size: 0.75rem;
    color: #fff;
  }

  &__quotefooter {
    padding-top: 1rem;
    font-size: 0.75rem;
  }
}
